package webui

templ AppPage(data AppPageData) {
	@WebPage("App · Hata") {
		@HouseSelector(data.HeaderHouses, data.ActiveHouseID, "/app")
		@UserBadge(data.DisplayName)
		<main>
			<div class="app-screen">
				@appPageStyles()
				@AppHouseGrid(data.Houses)
				@appPageScript()
			</div>
		</main>
	}
}
