package webui

templ AppPage(data AppPageData) {
	@PageLayout("App · Hata", data.DisplayName) {
		<div class="app-screen">
			@appPageStyles()
			@ScreenHeader("My devices", "Devices grouped by houses.")
			@AppHouseGrid(data.Houses)
			@appPageScript()
		</div>
	}
}
