package webui

templ AppHouseGrid(houses []AppHouseData) {
	if len(houses) == 0 {
		<p>You don't have access to any houses yet.</p>
	} else {
		<div class={ appHousesStyle() }>
			for _, house := range houses {
				@AppDeviceList(house.Devices)
			}
		</div>
	}
}

templ AppDeviceList(devices []AppDeviceData) {
	if len(devices) == 0 {
		<p class={ appFlushBlockStyle(), deviceEmptyStyle() }>No devices in this house.</p>
	} else {
		<ul class={ "device-list", deviceListStyle() }>
			for _, device := range devices {
				@AppDeviceCard(device)
				@AppLightDialog(device)
			}
		</ul>
	}
}
