package webui

templ AppHouseGrid(houses []AppHouseData) {
	if len(houses) == 0 {
		<p>You don't have access to any houses yet.</p>
	} else {
		<div class={ appHousesStyle() }>
			for _, house := range houses {
				@AppDeviceList(house)
			}
		</div>
	}
}

templ AppDeviceList(house AppHouseData) {
	if !hasVisibleWeather(house) && len(house.Devices) == 0 && len(house.ShoppingLists) == 0 {
		<p class={ appFlushBlockStyle(), deviceEmptyStyle() }>No devices in this house.</p>
	} else {
		<ul class={ "device-list", deviceListStyle() }>
			if hasVisibleWeather(house) {
				@AppWeatherCard(*house.Weather)
			}
			for _, device := range house.Devices {
				@AppDeviceCard(device)
				@AppLightDialog(device)
			}
			for _, list := range house.ShoppingLists {
				@AppShoppingListCard(list)
			}
		</ul>
	}
}

templ AppWeatherCard(weather AppWeatherData) {
	<li class={ "device-card", "weather-card", deviceCardStyle() }>
		<div class={ weatherHeaderStyle() }>
			@weatherConditionIcon(weather.ConditionIcon)
			<div class={ weatherContentStyle() }>
				<span class={ weatherTemperatureStyle() }>{ weatherTemperatureLabel(weather) }</span>
				<span class={ weatherConditionStyle() }>{ weather.ConditionText }</span>
				if weather.LocationLabel != "" {
					<span class={ weatherLocationStyle() }>{ weather.LocationLabel }</span>
				}
			</div>
		</div>
		<span class={ weatherMetaStyle() }>{ weatherUpdatedLabel(weather) }</span>
	</li>
}

templ AppShoppingListCard(list ShoppingListData) {
	<li class={ "device-card", deviceCardStyle() }>
		<span class={ deviceNameStyle() }>
			<span class={ deviceTitleStyle() }>
				<a href={ templ.SafeURL(ShoppingListPath(list.ID)) }>Shopping List</a>
			</span>
		</span>
	</li>
}
